body {
    padding-top: 90px;
}


.producto img {
    max-height: 100vh;
    max-width: 100%;
}

.overlayImg {
    position: absolute;
    background: rgb(0 0 0 /0.4);
    width: 100%;
    height: 100%;
}

.Imagenes {
    margin-left: 1%;
    background: rgb(230 226 226 / 1 );
    width: 100%;
    height: 100vh;
    max-height: 100vh;
}

.DetallesProducto {
    position: fixed;
    width: 50%;
    left: 50%;
}

.divCheckBox1 {
    display: flex;
    width: 100px;
    height: 50px;
    border: 1px solid grey;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

    .divCheckBox1.Selected {
        border: 1px solid black;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }


.divCheckBox2 {
    display: flex;
    width: 100px;
    height: 50px;
    border: 1px solid grey;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

    .divCheckBox2.Selected {
        border: 1px solid black;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }

@media (min-width:700px) {
    .divCheckBox1:hover {
        border: 1px solid black;
        transition: box-shadow 0.3s ease-in-out;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }

    .divCheckBox2:hover {
        border: 1px solid black;
        transition: box-shadow 0.3s ease-in-out;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }
}



.chkTalle input[type=checkbox] {
    display: none;
}

.lblTalle1 {
}
