body {
    font-family: 'Mukta', sans-serif;
}
/* Cambiar el color de la barra de desplazamiento */
::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: black;
}

/* Cambiar el color del track */
::-webkit-scrollbar-track {
    background-color: #FFFFFF;
}

/*.container {
    position: relative;
    padding-top: 20px;
    margin-top: 20px;
}*/

/*NAV*/
.mainNav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: transparent;
    transition: all 0.9s ease-in-out;
    z-index: 9996;
}
    /*ICONO MENU*/
    .mainNav .Bars {
        position: fixed;
        top: 35px;
        margin-left: 20px;
        color: white;
        /*color: #ced2d9;*/
        text-decoration: none !important;
    }

/*ICONO LOGO*/
.divNavLogo {
    text-align: center;
}

/*TAMAÑO DEL LOGO*/
.mainNav .Navlogo {
    display: inline-block;
    vertical-align: middle;
    height: 70px;
}
/*ICONO CARRITO*/
.mainNav .Cart {
    position: fixed;
    top: 35px;
    right: 20px;
    color: white;
    text-decoration: none;
    /*color: #ced2d9;*/
}
/*TERMINA NAV*/










/*ESTILOS HOVER*/
/*Cuando se pasa el mouse por encima del nav en jquery se cambian las clases y se les agrega el .active y muestra los siguientes estilos*/

.navContainer.active .mainNav {
    background-color: white;
    transition: all 0.5s ease-in-out;
}

.navContainer.active .Bars {
    color: black;
}

.navContainer.active .Cart {
    color: black;
}

/*    .navContainer.active .logo {
        color: black;
    }*/










/*FOOTER*/
.separador {
    width: 100%;
    border-top: 1px solid grey;
    margin: 20px 0;
}

.formularioMail {
    display: inline-block;
    text-align: center;
}

.TextMail {
    color: white;
    border: none;
    outline: none;
    background-color: transparent;
    width: 50%;
    border-bottom: 1px solid grey;
}

.btnSubcribirse {
    color: white;
    border-radius: 5px;
}



.txtCantidad {
    border: none;
    background-color: transparent;
}
/*COLUMNAS*/
.footerContainer {
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
}

.RedesSociales {
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    outline: none;
}

    .RedesSociales a {
        color: white;
    }





/*ICONOS FLOTANTES*/


.container-red {
    position: fixed;
    bottom: 2%;
    right: 1%;
}

    .container-red a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        width: 50px;
        height: 50px;
        background-color: #25d366;
        border-radius: 50%;
        text-decoration: none;
    }

        .container-red a i {
            font-size: 35px;
        }

.wsp {
    text-align: center;
    font-size: 40px;
}


/*MOVIL*/
/*NAV*/
@media (max-width: 732px) {




    /*NAV*/
    .mainNav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 70px;
        opacity: 1;
        transform: translateY(0);
        transition: transform 0.3s ease-out;
        transition: all 0.3s ease-in-out;
        z-index: 9996;
    }


    /*ICONO LOGO*/
    .divNavLogo {
        text-align: center;
    }

    /*TAMAÑO DEL LOGO*/
    .mainNav .Navlogo {
        display: inline-block;
        vertical-align: middle;
        height: 70px;
    }
    /*ICONO CARRITO*/
    .mainNav .Cart {
        position: absolute;
        text-decoration: none;
        right: 20px;
        color: white;
        /*color: #ced2d9;*/
    }
    /*ICONO MENU*/
    .mainNav .Bars {
        position: absolute;
        color: white;
        /*color: #ced2d9;*/
    }
}

/*ICONOS FLOTANTES*/
@media (max-width:732px) {
    .container-red {
        position: fixed;
        bottom: 2%;
        right: 1%;
    }

        .container-red a {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            width: 40px;
            height: 40px;
            background-color: #25d366;
            border-radius: 50%;
            text-decoration: none;
        }

            .container-red a i {
                font-size: 30px;
            }

    .wsp {
        text-align: center;
        font-size: 40px;
    }
}
