body {
}

/*CARRITO*/
.carrito {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 450px;
    height: 100%;
    background: rgb(255,255,255,1);
    color: black;
    transform: translateX(100%); /*ocultar carrito*/
    /*transform: translateX(0);*/ /*mostrar carrito*/
    transition: transform 0.3s ease-out;
    z-index: 9998;
    overflow-y: scroll;
    overflow-x: hidden;
}

/*footer CARRITO*/
.footerCarrito {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: black;
    height: 30%;
    text-align: center;
}

    .footerCarrito .btn {
        text-align: center;
        height: 40px !important;
        width: 90%;
        margin: 5% 0;
    }

.SubTotalEnvio {
    border-top: 1px solid rgb(0 0 0/0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    border-bottom: 1px solid rgb(0 0 0/0.1);
    height: 80px;
    justify-content: center;
}




.Total {
    display: flex;
    align-items: center;
    text-align: left;
    border-bottom: 1px solid rgb(0 0 0/0.1);
    height: 50px;
}

.content-wrapper {
    min-height: calc(100vh - {altura del footer}px);
}

.contenidoCarrito {
    max-height: 60%;
    overflow-y: scroll;
    height: 100%
}

.itemCarrito {
    border-bottom: 1px solid rgb(0 0 0/0.1);
    height: 120px !important;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


    .itemCarrito .descripcion {
        text-align: left;
        height: 100% !important;
        width: 30%;
        margin-top:23px;
    }



    .itemCarrito .descripcion .desc {
        font-size: 18px;
    }


    .itemCarrito .imagen {
        height: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 37%;
    }

    .itemCarrito img {
        max-height: 80px !important;
    }




    .itemCarrito a {
        display: flex;
        justify-content: center;
        color: black;
        text-decoration: none;
    }

    .itemCarrito .precioEliminar {
        height: 100% !important;
        width: 30%;
        position: relative;
        display: flex;
    }

    .itemCarrito .precio {
        display: flex;
        justify-content: center;
        width: 100%;
        position: absolute;
        bottom: 30px;
    }

    .itemCarrito .btnEliminar {
        height: 16px;
        display: flex;
        width: 100%;
        justify-content: right;
    }

.tituloCarritoDesplazable {
    height: 50px;
    display: flex;
    width: 100%;
    margin-left: 1%;
    border-bottom: 1px solid rgb(0 0 0/0.1);
    align-items: center;
}

    .tituloCarritoDesplazable .CerrarCarrito {
        position: absolute;
        right: 2%;
        text-decoration: none !important;
        color: black !important;
        z-index: 9999;
    }

    .tituloCarritoDesplazable h5 {
        margin-left: 2%;
    }



/*BOTON DENTRO DE CARRITO*/
.btnRestar, .btnSumar {
    text-align: center;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-color: black;
    color: white;
    border: none;
}

.txtCantidad{
    width:15%;
}
/*LISTA CARRITO*/
/*#rpCarrito img {
    width: 100px;
    height: 100px;
}*/
.overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    z-index: 9997;
}


@media (max-width: 732px) {
    /*CARRITO*/
    .carrito {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 1);
        transform: translateX(100%);
        transition: transform 0.3s ease-out;
        z-index: 9998;
    }


    .contenidoCarrito {
        max-height: 60%;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 100%
    }

    .itemCarrito {
        border-bottom: 1px solid rgb(0 0 0/0.1);
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

        .itemCarrito img {
            margin-bottom: 2%;
        }

        .itemCarrito a {
            display: flex;
            justify-content: center;
            color: black;
            text-decoration: none;
        }
}
