body {
    padding-top:90px;
}
.row{
    max-width:100vw;
}
.producto img{
    max-height:100vh;
    max-width:100%;
    
}

.Imagenes {
    background: rgb(230 226 226 / 1 );
    width:100%;
    height:100vh;
    max-height:100vh;
}

.DetallesProducto{
    
    position:fixed;
    width:50%;
    right:0;
}