body {
    width:100%;
    background-image: url("../Imagenes/FondoCatalogo.png");
    background-attachment:fixed;
    background-repeat:no-repeat;

}
.Logo1Of1{
    max-height:200px;
    justify-content:center;  
    position:fixed;
    z-index:0;
    transform:translate(-50%);   
    width:15%;
}

.FotoCatalogo{
    margin-top:100px;
}

.col-6 img{
    margin-top:0px;
}

